/*Page Animation*/
.page.ng-enter, .page.ng-leave {
  -webkit-transition:0.2s linear all;
  transition:0.2s linear all;
}
.page.ng-enter {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity: 0;
}
.page.ng-enter.ng-enter-active { opacity: 1; }
.page.ng-leave {opacity: 1; }
.page.ng-leave.ng-leave-active {opacity: 0; }



.footer {
  background: #ccc;
  margin-top: 30px;
  border-top: #999 1px solid;
  border-bottom: #999 1px solid;
  padding: 10px 0;
  font-weight: bold;
}



/*Product List*/
.product-list ul {
  list-style: none;
}
.product-list .product-item {
  width: 200px;
  float: left;
  border: solid 1px #999;
  background: #ccc;
  margin: 0 10px;
  border-radius: 4px;
}
.product-list .product-item h3{
  padding: 0;
  margin: 0;
  text-align: center;
}
.product-item .price{
  padding: 0 10px;
  font-weight: bold;
}
.content-featured-image {
  height: 100px;
  background: yellow;
}
.product-item .control {
  padding: 2px 10px;
  text-align: right;
}
.product-item .control button {
  color: #000;
  background: #fff;
  padding: 2px 8px;
  border-radius: 4px;
  text-decoration: none;
}

